@font-face {
    font-family: 'nexaLight';
    src: url('../fonts/NexaLight.otf');
}

@font-face {
    font-family: 'nexaBold';
    src: url('../fonts/NexaBold.otf');
}

html, body {
	padding:0;
	margin:0;
	height: 100%;
	width: 100%;
}

#bump {
	opacity: 0;
	color: white;
	position: fixed;
	bottom: 20px;
	left: 20px;
	font-family: 'nexaLight', 'Arial', sans-serif;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0);
}

.loop-circle {
 	background-color: rgba(0,0,0,0);
    opacity: .9;
	border-radius: 50%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	margin: auto;
}

#outer-circle {
    border: 1px solid rgba(255,255,255,0.9);
    border-top: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
    width: 600px;
    height: 600px;
    -moz-animation: spin 1.3s infinite linear;
    -webkit-animation: spin 1.3s infinite linear;
}

#middle-circle {
    border: 1px solid rgba(255,255,255,0.9);
    border-bottom: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
    width: 400px;
    height: 400px;
    -moz-animation: spinoff 1.3s infinite linear;
    -webkit-animation: spinoff 1.3s infinite linear;
}

#inner-circle {
    border: 1px solid rgba(255,255,255,0.9);
    border-right: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0);
    width: 200px;
    height: 200px;
    -moz-animation: spin 1.3s infinite linear;
    -webkit-animation: spin 1.3s infinite linear;
}

.nav-ball {
	text-align: center;
	color:transparent;
	width:50px;
	height:50px;
	line-height: 75px;
	font-size: 16px;
	border-radius: 50%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	font-family: "nexaBold", "Arial", sans-serif;
}

.nav-init {
	width: 52px;
	height: 52px;
	background-color: white;
	z-index: 7;
}

.nav-start {
	background-color: #0066ff;
	font-size: 17px;
	z-index: 6;
}

.nav-pulse {
	width:50px;
	height:50px;
	border: 0px solid white;
	border-radius: 50%;
	position:fixed;
	background-color: white;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	-webkit-animation: pulse 1s ease-out;
  	-moz-animation: pulse 1s ease-out;
  	animation: pulse 1s ease-out;
 	-webkit-animation-iteration-count: infinite;
 	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}


.nav-home {
	background-color: #009900;
}

.nav-projects {
	background-color: #e68a00;
}

.nav-about {
	background-color: #e6b800;
}

.nav-resume {
	background-color: #9900ff;
}

.nav-label {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 25px
}

.mega-octicon {
	display: block;
	margin-top: 22px;
}

.octicon {
	display: block;
	margin: 17px 0 0 0;
	padding: 0;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.pages {
	width: 100%;
	height: 100%;
}

#background-container {
	width: 100%;
	height: 100%;
	animation: backgroundChange 16s infinite;
	background-color: #2DBEED;
}

.page {
	color: white;
	width: 100%;
	height: 100%;
	font-family: "nexaLight", "Arial", sans-serif;
	overflow-y: auto;
}

.page h1{
	font-family: "nexaBold", "Arial", sans-serif;
	text-align: center;
}

.page p {
	font-size: 20px;
}

#name {
	font-size:55px;
	margin-bottom: 30px;
}

.home {
	text-align: center;
}

#home-canvas {
	position:absolute;
	top:0;
	left:0;
}

.page-fade {
 	animation: fadeIn 1s 1;
}

.page-container{
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
						
.home-links{
	margin: 0 auto;
}	

.home-link {
	display: inline-block;
	margin: 2px 0px;
}

.projects {
	width: 75%;
}

.bold {
	font-family: "nexaBold", "Arial", sans-serif;
}

.image {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
}

@media screen and (max-width: 600px) {
 	.projects {
		width: 100%;
 	}

	.image {
	    width: auto;
	    height: 100%;
	}
}

.project {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 3px 0px 10px 0px;
	margin: 5px;
    position: relative;
    overflow: hidden;
}

.project-descrip {
	font-size: 18px!important;
	margin-bottom: 0px;
}

.btn-live {
	background-color: #3AE03D;
	color: white;
}

.btn-code {
	background-color: #E3B039;
	color: white;
}

.use {
	display: inline-block;
	color: #EDA642;
	padding: 4px 0;
	margin: 3px 10px 3px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundChange {
	0% {
		background-color: #2DBEED;
	}
	25% {
		background-color: #168EB5;
	}
	50% {
		background-color: #16B5AA;
	}
	75% {
		background-color: #3C64E8;
	}
	100% {
		background-color: #2DBEED;
	}
}
}


@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(1.05);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(1.15);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(1.3);
    opacity: 0.5;
 }
 100% {
    -moz-transform: scale(1.5);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(1);
    opacity: 0.8;
 }
 25% {
    -webkit-transform: scale(1.05);
    opacity: 0.6;
 }
 50% {
    -webkit-transform: scale(1.15);
    opacity: 0.4;
 }
 75% {
    -webkit-transform: scale(1.3);
    opacity: 0.2;
 }
 100% {
    -webkit-transform: scale(1.5);
    opacity: 0.0;
 }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}