<!DOCTYPE html>
<html lang="en" ng-app="personal">
<head>    
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Charlie Zhang</title>

    <!--open graph-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Charlie Zhang" />
    <meta property="og:site_name" content="Charlie Zhang" />
    <meta property="og:url" content="http://www.charliezhang.xyz/" />
    <meta property="og:description" content="Hello!" />
<!--     <meta property="og:image" content="http://www.prilik.ca/1212/meta/og_image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" /> -->
    
    <!--apple-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    
    <!--icons-->
<!--     <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
 -->    

	<!-- jquery -->
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>

	<!--TweenMax-->
	<script type="text/javascript" src="js/TweenMax.min.js"></script>

	<!--Angular-->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-ui-router.min.js"></script>

	<!-- bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<!-- main -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<link href="css/main.css" rel="stylesheet">																					
</head>
<body>
<div class="wrapper">
	<div class="page container-fluid" ui-view></div>

	<div class="nav" ng-controller="NavController as nav">
		<div class="nav-pulse"></div>
		<div class="nav-start nav-ball" ng-click="nav.change()" ng-mouseover="nav.expand()">
			<div class="glyphicon glyphicon-menu-hamburger"></div>
		</div>
		<a href="/#/home"><div class="nav-home nav-ball" ng-click="nav.mobileShrink()">Home</div></a>
		<a href="/#/about"><div class="nav-about nav-ball" ng-click="nav.mobileShrink()">About</div></a>
		<a href="/#/projects"><div class="nav-projects nav-ball" ng-click="nav.mobileShrink()">Projects</div></a>
		<a href="files/resume.pdf"><div class="nav-resume nav-ball" ng-click="nav.mobileShrink()">Resume</div></a>
	</div>

</div>
</body>
</html>